body {
	background-image: url(f.jpg);
	background-size: cover;
	font-family: monospace;
	color: #806D58;
}

a{
	text-decoration: none;
	color: #806D58;
}

.container {
	box-shadow: 10px 5px 5px dimgray;
	border-radius: 8px;
	padding: 20px;
	background-color: #DCC48E;
}